<div id="slider">
  {{#each slides}}
  <div class="slider--item" id="{{this.id}}" style="background-color:{{this.color}}">

    {{#if this.image}}
    <img src="public/images/{{this.image}}" alt="{{this.title}}">
    {{/if}}
  </div>
  {{/each}}
</div>

<style>
  #slider {
    width: 1000vw;
    height: 100vh;
    overflow: hidden;
    transition: transform 1s ease;
  }

  .slider--item {
    width: 100%;
    height: 100%;
    float: left;
  }

  .slider--item img {
    width: 100%;
  }
</style>