<form method="post" enctype="multipart/form-data" action="/upload">
  <label for="title">Title:</label>
  <input type="text" id="title" name="title" required><br><br>

  <label for="content">Content:</label><br>
  <textarea id="content" name="content" rows="4" cols="50" required></textarea><br><br>

  <label for="image">Image:</label>
  <input type="file" id="file" name="file" required><br><br>

  <label for="type">Type:</label>
  <input type="text" id="type" name="type" required><br><br>

  <label for="color">Color:</label>
  <input type="color" id="color" name="color"><br><br>

  <label for="published">Published:</label>
  <input type="checkbox" id="published" name="published"><br><br>

  <label for="unpublishingDate">Unpublishing Date:</label>
  <input type="date" id="unpublishingDate" name="unpublishingDate"><br><br>

  <input type="submit" value="Create Slide">
</form>